
body {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 16px;
    line-height: 1;
    
    
}
  
.container {
    background-color: rgb(165, 213, 235);
}
/* Query Cuisine*/
h1 {
    font-size: 4em;
    font-family: 'Cormorant Garamond', serif;
    margin: 0.67em 0;
    text-align: center;
    padding-top: 30px;
}

/* Choose your ingredients */
#ingredient-title {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

  

  
/* container of dropdown lists*/
.ingredient-selection {
    /* background-color: rgb(252, 227, 130); */
    text-align: flex;
    width: auto;
    padding-top: 10px;
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 10px;
    
}


/* ingredient slection boxes */
select {
   border-radius: 0.25rem;
   background-color: white;
   margin-bottom: 30px;
   

}


.submitBtn {
    margin: 2rem;
    margin-top: -10px;
}


/* Suggested Recipes title */
#suggestions-title {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 16px;
    padding-bottom: 2rem;;
}

.suggestions-container {
    font-family: 'Courier New', Courier, monospace;
    text-align: flex;
    width: auto;
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 10px;

}

.recipe-titles {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 20px;
    /* font-size: 20px; */
    
}


#recipe1 {
   border: solid;
   padding-left: 15px;
   margin-bottom: 50px;
   background-color: white;
   
  
}
#recipe2 {
    border: solid;
    padding-left: 15px;
    margin-bottom: 50px;
    background-color: white;

}
li {
    font-size: 20px;
    line-height: 35px;
<<<<<<< HEAD
.container {
  text-align: center;
=======
>>>>>>> 808cdc51f18d69c12217ca2227626f166609c769
}