/* for ingredient list,
text-align: left 

image, text-align: right
*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

body {
    font-size: 16px;
    line-height: 1;
    background-color: rgb(165, 213, 235);
    color: black;
}
  
.container {
    text-align: center;
    background-color: rgb(165, 213, 235);
}

/* Query Cuisine*/
h1 {
    font-size: 4em;
    font-family: 'Cormorant Garamond', serif;
    margin: 0.67em 0;
    text-align: center;
    padding-top: 30px;
}

/* Choose your ingredients */
#ingredient-title {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    padding-right: 45px;
}
  
/* container of textareas*/
.ingredient-selection {
    text-align: flex;
    width: auto;
    padding-top: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10px;
}

/* ingredient selection boxes */
textarea {
    display: inline-block;
    resize:none;
    border-radius: 0.25rem;
    background-color: white;
    /*margin-bottom: 30px;*/
    width: 50%;

}

.ingredient {
    padding-bottom: 10px;
}

.submitBtn {
    margin: 2rem;
    margin-top: -10px;
}

/* Suggested Recipes title */
#suggestions-title {
    font-size: 2rem;
    margin-left: 20px;
    padding-top: 30px;
    padding-left: 16px;
    padding-bottom: 2rem;;
}


.recipe-titles {
    /* font-family: 'Courier New', Courier, monospace; */
    padding-left: 20px;
}

.suggestions-container {
    /* font-family: 'Courier New', Courier, monospace; */
    text-align: flex;
    width: auto;
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 10px;
}

#fancySwirl {
    width: 250px;
    padding-right: 0px;
}

/*recipe titles*/
h4 {
    
    font-size: 30px;
    letter-spacing: 2px;;
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
}

img {
    align-items: center;
    padding-right: 40px;
    /* border-radius: .5rem; */
}

/* #recipe1 {
   border: solid;
   padding-left: 15px;
   margin-bottom: 50px;
   background-color: white;
} */

.recipe {
    border: solid;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 50px;
    background-color: white;
    padding-bottom: 5px;
 }

/* #recipe2 {
    border: solid;
    padding-left: 15px;
    margin-bottom: 50px;
    background-color: white;
} */

/* .instructions {
    text-align: right;
    color: green;
} */

#problem {
    background-color: white;
    /*border: solid;*/
    padding-left: 31px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    
    
}

li {
    text-align: left;
    letter-spacing: normal;
    font-size: 20px;
    font-family:"Source Serif Pro", Arial, Helvetica, sans-serif ;
    font-weight: bold;
    line-height: 35px;
    margin: 5px;
    padding: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    border: solid, black;
    border-radius: 0.25rem;
    
}

::placeholder {
    color: lightgray
}